{% extends "base.html"%}

{% block content%}
    <div class="intro_text">
        <h1>Forest, For Your Rest</h1>
        <h4 class="contents1">이곳에서 마음 편히 쉬세요</h4>
    </div>

    
        
    <div class="main_text0">

        <ul class="icons">
            <li>
                <div class="channel-introduce">
                    <img src="https://d2qrvi4l1nprmf.cloudfront.net/images/promotion/channel/depressive-check-program/banner.png"/>
                    <h3 id="channel-introduce-title">정확도 95% 의 우울증 검사<br class="mobile"> 자가진단 심리테스트 <br/><strong>나의 우울증 지수는 몇 점?</strong></h3>
                    <button id="start-channel" onClick = "location.href='index_survey.html'">(우울증 자가진단)<br class="mobile"> 검사 시작하기</button>
                    <p class="guide">입력하신 정보는 본 검사 외 다른 용도로 <br/>사용되지 않으며 저장되지 않습니다.</p>
                        
                        
                </div>
                    
            </li>
                
                
        </ul>
    </div>
{% endblock content %}